<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="internalOnly"
    package="com.sjtu.icarer"
    android:versionCode="3"
    android:versionName="2.0.1" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />
		<uses-permission android:name="android.permission.BLUETOOTH" />
    	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    	<uses-permission android:name="android.permission.INTERNET" /> 
    	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  		<uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
  		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      
        <uses-permission android:name="android.permission.GET_ACCOUNTS" />
        <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
        <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
        <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <application
        android:name="com.sjtu.icarer.IcarerApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.GitHub" >
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authenticator.IcarerAuthenticatorActivity"
            android:excludeFromRecents="true"  >
            
        </activity>
        <activity
            android:name=".ui.SettingActivity"
            android:label="SettingPreferences"   >
            
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:name="com.sjtu.icarer.ui.HomeActivity"
            android:label="@string/app_name" 
            android:theme="@style/Theme.GitHub">
            
        </activity>
        
        <activity
            android:name="com.sjtu.icarer.ui.login.LoginActivity"
            android:label="@string/app_name">
            
        </activity>
        
        <!-- need to be removed -->
        <activity
            android:name="com.sjtu.icarer.ui.deprecated.SettingActivity"
            android:label="@string/app_name">
        </activity>
        
        
        <activity  
            android:label="@string/app_name"  
            android:name="com.sjtu.icarer.core.test.CatchExceptionLogActivity" >  
            
        </activity>
        <activity  
            android:label="AreaSetupPreferences"  
            android:name=".ui.SetupActivity" >  
            
        </activity> 
        <service
            android:name=".authenticator.AccountAuthenticatorService"
            android:enabled="true"
            android:exported="false"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
         
     	<service
          android:name="com.sjtu.icarer.thread.UpdateService"
          android:enabled="true"
          android:exported="false">
          <intent-filter android:priority="1000">
              <action android:name="com.sjtu.icarer.thread.AUTORUN" />
              <category android:name="android.intent.category.default" />        
          </intent-filter>
      	</service>
        
      	<!-- service 自启动监听-->
	     <receiver android:name="com.sjtu.icarer.thread.UpdateReceiver" android:enabled="true" android:priority="90000">  
	         <intent-filter> 
				<action android:name="android.Intent.action.USER_PRESENT" />
				<action android:name="android.Intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.LAUNCHER" />
   			 </intent-filter>
	         <intent-filter>
	           <!-- see in Const.java -->
	           <action android:name="COM.SJTU.ICARER.UPDATE" />
	         </intent-filter>
	     </receiver>
    </application>

</manifest>
